
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/.vscode/

**/__*
**/~*

DataAssetRefs.asset

/Packages/external_assets/*


!/Packages/external_assets/package.json
!/Packages/external_assets/package.json.meta


/.idea/
/WinBuild/

/Assets/StoreAssetsHere
/BuildWin/

/Assets/SpriteGenerator/_OutTest/
/Assets/SpriteGenerator/_OutTest.meta

/Assets/z_[Gg]enerated_[Ll]ocal/**
/Assets/z_[Gg]enerated_[Ll]ocal.meta


/.vs/

/Gen
/Gen_Debug
/Gen_Debug*

.vs

/Assets/ExternalAssets
/Assets/GeneratedAssets

log.txt
.vsconfig

UpgradeLog.htm
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
